.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}

.nav-tabs > li{
    padding-left:5%;
    padding-right:5%;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.nav-link {
    color: #212529;
}

.card .card-default {
    height:40px;
}